
VisualTrack/.vs/VisualTrack/v17/.suo
VisualTrack/.vs/VisualTrack/FileContentIndex/c2d53e3b-5cfd-4219-88f5-fc73090761b8.vsidx
VisualTrack/.vs/VisualTrack/FileContentIndex/ef414bf3-da6d-46ff-be5c-61153acc8315.vsidx
VisualTrack/VisualTrack/obj/Debug/DesignTimeResolveAssemblyReferences.cache
VisualTrack/VisualTrack/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
VisualTrack/VisualTrack/obj/Debug/VisualTrack.csproj.AssemblyReference.cache
VisualTrack/.vs/VisualTrack/FileContentIndex/30022dbe-5867-445d-ba0b-4d850b322d57.vsidx
VisualTrack/.vs/VisualTrack/FileContentIndex/ddd0706d-80db-40ae-9232-694a45df2388.vsidx
